- https://thequickblog.com/openpyxl-bar-charts/

In [2]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference

In [4]:
df = pd.read_excel('https://github.com/datagy/pivot_table_pandas/raw/master/sample_pivot.xlsx', parse_dates=['Date'])
df.head()

        Date Region                 Type  Units  Sales
0 2020-07-11   East  Children's Clothing   18.0    306
1 2020-09-23  North  Children's Clothing   14.0    448
2 2020-04-02  South     Women's Clothing   17.0    425
3 2020-02-28   East  Children's Clothing   26.0    832
4 2020-03-19   West     Women's Clothing    3.0     33

## Make pivot table

In [19]:
filtered = df[df['Region'] == 'East']

quarterly_sales = pd.pivot_table(filtered, index = filtered['Date'].dt.month, columns = 'Type', values = 'Sales', aggfunc='sum')

quarterly_sales.sort_values('Date', ascending=False).head()

Type  Children's Clothing  Men's Clothing  Women's Clothing
Date
12                   6348            2098              5252
11                   4366            2348              5499
10                   2902            6507              5300
9                    4763            5320              5041
8                    6056            2213              4150

In [20]:
file_path = r'./pivot_excel.xlsx'
quarterly_sales.to_excel(file_path, sheet_name = 'Quarterly Sales', startrow=3)

## Add bar chart

In [21]:
wb = load_workbook(file_path)
sheet1 = wb['Quarterly Sales']

In [25]:
sheet1['A1'] = 'Quarterly Sales'
sheet1['A2'] = 'datagy.io'
sheet1['A4'] = 'Quarter'

In [27]:
sheet1['A1'].style = 'Title'
sheet1['A2'].style = 'Headline 2'

for i in range(5, 9):
    sheet1[f'B{i}'].style='Currency'
    sheet1[f'C{i}'].style='Currency'
    sheet1[f'D{i}'].style='Currency'

# Section 07 - Adding a Bar Chart
bar_chart = BarChart()
data = Reference(sheet1, min_col=2, max_col=4, min_row=4, max_row=8)
categories = Reference(sheet1, min_col=1, max_col=1, min_row=5, max_row=8)
bar_chart.add_data(data, titles_from_data=True)
bar_chart.set_categories(categories)
sheet1.add_chart(bar_chart, "F4")

bar_chart.title = 'Sales by Type'
bar_chart.style = 3
wb.save(filename = file_path)

In [34]:
print(sheet1['D1'].value)

None